body {
  background: url("background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Lobster', cursive;
  margin: 0px;
}

.welcome img {
  width: 25%;
  border-radius: 200px;
}


.welcome {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.welcome-text {
  font-size: 80px;
  padding: 10px;
  color: white;
}

.about-us {
  padding: 20px;
  background-color: #ffc10791;
  color: #382121f7;
}
